body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.list-item-label {
    text-transform: uppercase;
    color: #8c8c8c
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #225378;
}

.navbar.navbar-inverse.navbar-fixed-top a:hover {
    color: #ACF0F2;
}

.new-release {
    padding-top: 20px;
}

.tracklist {
    padding-top: 10px;
}

span.value {
    padding-left: 5px;
}

img.release-cover {
    max-width: 300px;
    max-height: 300px;
}

.release-cover-tiny {
    width: 35px;
    height: 35px;
}

.table > tbody > tr {
    background-color: #373737;
    border-bottom: 2px solid #222222;
    min-height: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 14px;
    padding: 0 8px 0; 
}

.table > tbody > tr > td.release-cover-container {
    padding: 0; 
}

.table > thead > tr > th {
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 8px 8px;
}

.trackNumber {
    font-size: 22px;
    padding-left: 8px;
}

.releaseInfo {
    margin: 25px 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #225378;
}

table a:not(.btn), .table a:not(.btn) {
    color: #fff;
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn):focus {
    color: #fff;
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn):hover {
    color: #ACF0F2;
    text-decoration: underline;
}

a {
    color: #fff;
    text-decoration: none;
}

a:focus {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ACF0F2;
    text-decoration: underline;
}

img.artist-photo {
    max-height: 250px;
}

.category {
    margin: 0;
    color: #8c8c8c;
}

img.label-logo {
    max-height: 75px;
    margin-right: 20px;
}

.label-top-section {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.label-name {
    margin: 0;
}