body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.category {
    text-transform: uppercase;
}

.list-item-label {
    text-transform: uppercase;
    color: #8c8c8c
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #225378;
}

.navbar.navbar-inverse.navbar-fixed-top a:hover {
    color: #ACF0F2;
}

.new-release {
    padding-top: 20px;
}

.tracklist {
    padding-top: 10px;
}

span.value {
    padding-left: 5px;
}

.release-cover {
    padding-bottom: 20px;
}

.release-cover-tiny {
    width: 35px;
    height: 35px;
}

.table > tbody > tr {
    background-color: #373737;
    border-bottom: 2px solid #222222;
    min-height: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 14px;
    padding: 0;
}

.table > thead > tr > th {
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 0 8px;
}

.trackNumber {
    font-size: 22px;
    padding-left: 8px;
}

.releaseInfo {
    margin: 25px 0;
}