body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.category {
    text-transform: uppercase;
}

.list-item-label {
    text-transform: uppercase;
    color: #8c8c8c
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #225378;
}

.navbar.navbar-inverse.navbar-fixed-top a:hover {
    color: #ACF0F2;
}

.new-release {
    padding-top: 20px;
}

.tracklist {
    padding-top: 10px;
}

span.value {
    padding-left: 5px;
}

th.table-header {
    text-transform: uppercase;
}

.release-cover {
    padding-bottom: 20px;
}