@model MusicStoreEF.ViewModels.ArtistDetailsVm

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div class="row">
    <div class="col-md-4">
        <img src="@Model.PhotoUrl" class="artist-photo" />
    </div>
    <div class="col-md-8">
        @Model.Description
    </div>
</div>

<h3>Latest releases</h3>

@foreach (var release in Model.Releases)
{
    Html.RenderPartial("_Release", release);
}