@model MusicStoreEF.ViewModels.PlayButtonVm

<audio preload="none" src="@Model.AudioUrl"></audio>
<button type="button" class="playButton btn btn-default @(string.IsNullOrEmpty(Model.ButtonClass) ? "" : Model.ButtonClass)">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>