@using System.Web.Mvc
@helper ListItem(string label, MvcHtmlString value)
{
    <li class="list-group-item">
        <span class="list-item-label">@label</span>
        <span class="value">@value</span>
    </li>
}